In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Split data

In [2]:
data_path = 'XAU_1w_data.csv'
save_dir = '.'

In [3]:
df = pd.read_csv(data_path, sep=';')

In [4]:
df

                  Date     Open     High      Low    Close  Volume
0     2004.06.06 00:00   384.00   384.80   382.80   384.10     272
1     2004.06.13 00:00   384.30   395.80   381.10   394.30    9692
2     2004.06.20 00:00   394.30   402.80   392.10   401.10    8509
3     2004.06.27 00:00   401.80   404.60   390.30   397.80    9682
4     2004.07.04 00:00   397.80   408.60   388.50   407.10    3507
...                ...      ...      ...      ...      ...     ...
1073  2025.01.05 00:00  2641.45  2698.01  2614.45  2688.96  391915
1074  2025.01.12 00:00  2690.19  2724.76  2656.84  2702.92  430386
1075  2025.01.19 00:00  2703.09  2785.94  2689.26  2771.48  420488
1076  2025.01.26 00:00  2769.76  2817.23  2730.48  2799.23  441120
1077  2025.02.02 00:00  2794.53  2795.01  2794.21  2794.42    1642

[1078 rows x 6 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1078 non-null   object
 1   Open    1078 non-null   float64
 2   High    1078 non-null   float64
 3   Low     1078 non-null   float64
 4   Close   1078 non-null   float64
 5   Volume  1078 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 50.7+ KB

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(['Date'], ascending=True)
# df['Year'], df['Month'], df['Day'] = df['Date'].dt.year, df['Date'].dt.month, df['Date'].dt.day

In [7]:
df

           Date     Open     High      Low    Close  Volume
0    2004-06-06   384.00   384.80   382.80   384.10     272
1    2004-06-13   384.30   395.80   381.10   394.30    9692
2    2004-06-20   394.30   402.80   392.10   401.10    8509
3    2004-06-27   401.80   404.60   390.30   397.80    9682
4    2004-07-04   397.80   408.60   388.50   407.10    3507
...         ...      ...      ...      ...      ...     ...
1073 2025-01-05  2641.45  2698.01  2614.45  2688.96  391915
1074 2025-01-12  2690.19  2724.76  2656.84  2702.92  430386
1075 2025-01-19  2703.09  2785.94  2689.26  2771.48  420488
1076 2025-01-26  2769.76  2817.23  2730.48  2799.23  441120
1077 2025-02-02  2794.53  2795.01  2794.21  2794.42    1642

[1078 rows x 6 columns]

In [8]:
test_df = df.loc[df['Date'].dt.year.isin(range(2022, 2026))]
test_df

           Date     Open     High      Low    Close  Volume
917  2022-01-02  1830.63  1831.82  1782.64  1796.30  481942
918  2022-01-09  1794.95  1829.18  1790.36  1817.54  472665
919  2022-01-16  1817.35  1847.92  1805.79  1834.63  519032
920  2022-01-23  1832.90  1853.90  1780.30  1791.58  625250
921  2022-01-30  1788.96  1814.88  1785.57  1807.84  497346
...         ...      ...      ...      ...      ...     ...
1073 2025-01-05  2641.45  2698.01  2614.45  2688.96  391915
1074 2025-01-12  2690.19  2724.76  2656.84  2702.92  430386
1075 2025-01-19  2703.09  2785.94  2689.26  2771.48  420488
1076 2025-01-26  2769.76  2817.23  2730.48  2799.23  441120
1077 2025-02-02  2794.53  2795.01  2794.21  2794.42    1642

[161 rows x 6 columns]

In [9]:
dev_df = df.loc[df['Date'].dt.year == 2021]
dev_df

          Date     Open     High      Low    Close  Volume
865 2021-01-03  1909.07  1959.29  1828.27  1849.04  610672
866 2021-01-10  1854.74  1863.80  1817.00  1827.65  542639
867 2021-01-17  1828.39  1875.01  1810.29  1854.67  575815
868 2021-01-24  1858.02  1875.69  1831.35  1847.59  755117
869 2021-01-31  1855.57  1871.78  1784.90  1813.40  814822
870 2021-02-07  1817.35  1855.31  1807.77  1824.17  600490
871 2021-02-14  1824.88  1827.02  1760.64  1783.05  683202
872 2021-02-21  1786.78  1816.01  1717.18  1733.84  968129
873 2021-02-28  1737.79  1759.89  1687.28  1700.76  955719
874 2021-03-07  1706.24  1739.82  1676.82  1726.92  787385
875 2021-03-14  1728.56  1755.46  1719.25  1745.14  695664
876 2021-03-21  1743.80  1745.43  1721.63  1732.70  605314
877 2021-03-28  1731.17  1732.84  1677.86  1729.49  491085
878 2021-04-04  1728.66  1758.66  1721.25  1743.46  513577
879 2021-04-11  1742.71  1783.79  1723.70  1776.67  542195
880 2021-04-18  1775.67  1797.88  1763.53  1776.48  532590
881 2021-04-25  1775.48  1789.98  1756.19  1768.97  494178
882 2021-05-02  1766.81  1843.30  1766.04  1830.85  521847
883 2021-05-09  1833.04  1845.93  1808.77  1842.56  606858
884 2021-05-16  1843.52  1890.09  1843.52  1881.74  643808
885 2021-05-23  1881.41  1912.74  1872.71  1903.18  629466
886 2021-05-30  1903.74  1916.58  1855.50  1891.51  558035
887 2021-06-06  1890.19  1903.67  1869.84  1876.16  552311
888 2021-06-13  1876.07  1877.62  1760.91  1764.52  647683
889 2021-06-20  1768.64  1794.95  1766.40  1781.11  579197
890 2021-06-27  1781.24  1795.04  1750.69  1787.33  403970
891 2021-07-04  1787.11  1818.33  1784.47  1808.04  394497
892 2021-07-11  1807.97  1834.07  1791.65  1811.51  392692
893 2021-07-18  1811.29  1824.92  1789.63  1801.93  491730
894 2021-07-25  1802.26  1832.62  1792.36  1814.28  441246
895 2021-08-01  1814.60  1831.65  1758.65  1763.18  407972
896 2021-08-08  1761.08  1779.79  1683.20  1779.70  454624
897 2021-08-15  1779.08  1795.46  1770.80  1780.94  422838
898 2021-08-22  1781.52  1819.09  1776.44  1817.85  361756
899 2021-08-29  1818.18  1833.95  1801.71  1827.59  300668
900 2021-09-05  1828.29  1830.24  1782.43  1787.81  298632
901 2021-09-12  1787.35  1808.58  1745.24  1753.92  379670
902 2021-09-19  1754.22  1787.21  1737.43  1749.72  435999
903 2021-09-26  1749.81  1764.28  1721.65  1760.15  493413
904 2021-10-03  1760.79  1781.27  1745.95  1757.10  443992
905 2021-10-10  1756.97  1800.57  1750.18  1767.42  433860
906 2021-10-17  1767.18  1813.79  1760.31  1792.67  498233
907 2021-10-24  1792.93  1810.38  1771.98  1782.98  513052
908 2021-10-31  1783.36  1818.27  1758.07  1817.84  451828
909 2021-11-07  1815.69  1868.61  1812.46  1864.35  439003
910 2021-11-14  1866.79  1877.23  1843.00  1845.70  440565
911 2021-11-21  1842.19  1849.15  1778.54  1790.86  467371
912 2021-11-28  1788.53  1808.74  1761.97  1783.88  539910
913 2021-12-05  1782.00  1793.15  1770.10  1782.82  428326
914 2021-12-12  1782.77  1814.28  1752.34  1797.98  445803
915 2021-12-19  1800.31  1810.63  1785.00  1807.76  318935
916 2021-12-26  1805.97  1828.08  1789.47  1827.95  336141

In [10]:
train_df = df.loc[df['Date'].dt.year.isin(range(2010, 2021))]
train_df

          Date     Open     High      Low    Close  Volume
291 2010-01-03  1094.61  1140.65  1093.08  1138.25  109373
292 2010-01-10  1153.60  1161.63  1118.82  1130.90  363925
293 2010-01-17  1132.54  1141.30  1082.15  1092.76  372489
294 2010-01-24  1094.72  1103.89  1074.01  1080.67  403541
295 2010-01-31  1082.66  1124.80  1044.46  1065.95  420746
..         ...      ...      ...      ...      ...     ...
860 2020-11-29  1789.31  1848.17  1764.38  1838.60  427513
861 2020-12-06  1836.86  1875.28  1821.99  1839.91  422287
862 2020-12-13  1837.07  1896.19  1818.34  1880.55  426650
863 2020-12-20  1882.51  1906.70  1854.99  1879.30  389110
864 2020-12-27  1888.40  1900.38  1869.12  1893.43  288354

[574 rows x 6 columns]

In [11]:
def get_future_price(df, delta=30):
    df.loc[:, [f'Price_t_plus_{delta}']] = df['Close'].shift(-delta)
    return df

In [12]:
# cols = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', f'Price_t_plus_{delta}']

# train_df[cols].dropna().to_csv('data/regression_train.csv', index=False)
# dev_df[cols].dropna().to_csv('data/regression_dev.csv', index=False)
# test_df[cols].dropna().to_csv('data/regression_test.csv', index=False)

# Labeling for classification

In [13]:
# def calculate_threshold(df, delta=30):
#     df = get_future_price(df, delta=30)

#     # Tính tỷ lệ thay đổi giá
#     df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

#     # Loại bỏ giá trị NaN (do shift)
#     df = df.dropna()

#     # Tách return thành tăng (dương) và giảm (âm)
#     positive_returns = df['Return'][df['Return'] > 0]  # Tăng giá
#     negative_returns = df['Return'][df['Return'] < 0]  # Giảm giá

#     # Thống kê cho return dương (BUY)
#     mean_positive = positive_returns.mean()
#     std_positive = positive_returns.std()
#     percentiles_positive = positive_returns.quantile([0.25, 0.5, 0.75, 0.95])

#     # Thống kê cho return âm (SELL)
#     mean_negative = negative_returns.mean()
#     std_negative = negative_returns.std()
#     percentiles_negative = negative_returns.quantile([0.05, 0.25, 0.5, 0.75])

#     # In thống kê
#     print(f"Thống kê dao động giá trong {delta} phút (Tăng - BUY):")
#     print(f"Trung bình: {mean_positive:.4%}")
#     print(f"Độ lệch chuẩn: {std_positive:.4%}")
#     print(f"Phân vị 25%: {percentiles_positive[0.25]:.4%}")
#     print(f"Phân vị 50% (median): {percentiles_positive[0.5]:.4%}")
#     print(f"Phân vị 75%: {percentiles_positive[0.75]:.4%}")
#     print(f"Phân vị 95%: {percentiles_positive[0.95]:.4%}")

#     print(f"\nThống kê dao động giá trong {delta} phút (Giảm - SELL):")
#     print(f"Trung bình: {mean_negative:.4%}")
#     print(f"Độ lệch chuẩn: {std_negative:.4%}")
#     print(f"Phân vị 5%: {percentiles_negative[0.05]:.4%}")
#     print(f"Phân vị 25%: {percentiles_negative[0.25]:.4%}")
#     print(f"Phân vị 50% (median): {percentiles_negative[0.5]:.4%}")
#     print(f"Phân vị 75%: {percentiles_negative[0.75]:.4%}")

#     # Vẽ histogram riêng cho tăng và giảm
#     plt.figure(figsize=(7, 4))

#     plt.subplot(1, 2, 1)
#     plt.hist(positive_returns, bins=50, range=(0, 0.05), density=True, color='blue')
#     plt.title(f"Phân bố tăng giá (BUY) trong {delta} phút")
#     plt.xlabel("Return")
#     plt.ylabel("Tần suất")

#     plt.subplot(1, 2, 2)
#     plt.hist(negative_returns, bins=50, range=(-0.05, 0), density=True, color='red')
#     plt.title(f"Phân bố giảm giá (SELL) trong {delta} phút")
#     plt.xlabel("Return")
#     plt.ylabel("Tần suất")

#     plt.tight_layout()
#     plt.show()

#     print(f'Delta = {delta}')
    
#     # Đề xuất threshold 
#     threshold = std_positive * 0.45
    
#     print(f"Threshold gợi ý: {threshold:.4%}")
    
#     # Tính giá trị tiền dựa trên giá trung bình trong df
#     avg_price = df['Close'].mean()
#     print(f"\nGiá trung bình trong dữ liệu: ${avg_price:.2f}")

#     # Tính giá trị tiền
#     threshold_in_money = avg_price * threshold

#     print(f"Giá trị tiền tương ứng với threshold:")
#     print(f"Threshold ({threshold}) in money: ${threshold_in_money:.2f}")

#     # Kiểm tra phân bố nhãn với threshold riêng
#     df.loc[:, ['Label']] = np.where(df[f'Price_t_plus_{delta}'] > df['Close'] * (1 + threshold), 'BUY',
#                         np.where(df[f'Price_t_plus_{delta}'] < df['Close'] * (1 - threshold), 'SELL', 'HOLD'))

#     label_distribution = df['Label'].value_counts(normalize=True)
#     print("\nPhân bố nhãn với threshold riêng:")
#     print(label_distribution)
    
#     return df, delta, threshold

In [14]:
def calculate_threshold(df, delta=30, rate=0.45):
    df = get_future_price(df, delta=delta)

    # Tính tỷ lệ thay đổi giá
    df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

    # Loại bỏ giá trị NaN (do shift)
    df = df.dropna()

    # Tách return thành tăng (dương) và giảm (âm)
    positive_returns = df['Return'][df['Return'] > 0]  # Tăng giá

    std_positive = positive_returns.std()

    print(f'Delta = {delta}')
    
    # Đề xuất threshold 
    threshold = std_positive * rate # 1.5 lần độ lệch chuẩn cho BUY
    
    print(f"Threshold gợi ý: {threshold:.4%}")
    
    # Tính giá trị tiền dựa trên giá trung bình trong df
    avg_price = df['Close'].mean()
    print(f"\nGiá trung bình trong dữ liệu: ${avg_price:.2f}")

    # Tính giá trị tiền
    threshold_in_money = avg_price * threshold

    print(f"Threshold ({threshold}) thành tiền: ${threshold_in_money:.2f}")
    
    return delta, threshold

In [15]:
delta, threshold = calculate_threshold(train_df, 6, 0.4)

Delta = 6
Threshold gợi ý: 1.4520%

Giá trung bình trong dữ liệu: $1382.38
Threshold (0.0145199997785669) thành tiền: $20.07

In [16]:
# Simple labeling
def simple_labeling(df, delta, threshold):
    df.loc[:, [f'Price_t_plus_{delta}']] = df['Close'].shift(-delta)

    # Tính tỷ lệ thay đổi giá
    df.loc[:, ['Return']] = df[f'Price_t_plus_{delta}'] / df['Close'] - 1

    # Loại bỏ giá trị NaN (do shift)
    df = df.dropna()
    
    # Kiểm tra phân bố nhãn với threshold riêng
    df.loc[:, ['Label']] = np.where(df[f'Price_t_plus_{delta}'] > df['Close'] * (1 + threshold), 'BUY',
                        np.where(df[f'Price_t_plus_{delta}'] < df['Close'] * (1 - threshold), 'SELL', 'HOLD'))

    label_distribution = df['Label'].value_counts(normalize=True)
    print("\nPhân bố nhãn với threshold riêng:")
    print(label_distribution)
    
    return df

In [17]:
labeled_train_df = simple_labeling(train_df, delta, threshold)
# labeled_train_df

Phân bố nhãn với threshold riêng:
Label
BUY     0.397887
SELL    0.360915
HOLD    0.241197
Name: proportion, dtype: float64

In [18]:
labeled_dev_df = simple_labeling(dev_df, delta, threshold)
# labeled_dev_df

Phân bố nhãn với threshold riêng:
Label
SELL    0.413043
HOLD    0.304348
BUY     0.282609
Name: proportion, dtype: float64

In [19]:
labeled_test_df = simple_labeling(test_df, delta, threshold)
# labeled_test_df

Phân bố nhãn với threshold riêng:
Label
BUY     0.496774
SELL    0.309677
HOLD    0.193548
Name: proportion, dtype: float64

In [20]:
labeled_train_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Price_t_plus_6',
       'Return', 'Label'],
      dtype='object')

In [21]:
cols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Label']

labeled_train_df[cols].to_csv(f'{save_dir}/labeled_train.csv', index=False)
labeled_dev_df[cols].to_csv(f'{save_dir}/labeled_dev.csv', index=False)
labeled_test_df[cols].to_csv(f'{save_dir}/labeled_test.csv', index=False)

In [22]:
def counter_label(df, delta):
    cnt = 0
    for i in range(0, len(df) - delta, delta):
        label = df['Label'].iloc[i-30]
        for j in range(i, i+delta):
            if label == 'BUY':
                if df['Label'].iloc[j] == 'SELL':
                    cnt += 1
                    break
            elif label == 'SELL':
                if df['Label'].iloc[j] == 'BUY':
                    cnt += 1
                    break
    return cnt


print("Tong so label: ", len(labeled_train_df))
cnt = counter_label(labeled_train_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(labeled_train_df) * 100)


print("Tong so label: ", len(labeled_dev_df))
cnt = counter_label(labeled_dev_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(labeled_dev_df) * 100)


print("Tong so label: ", len(labeled_test_df))
cnt = counter_label(labeled_test_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(labeled_test_df) * 100)

Tong so label:  568
So lan xuat hien nhan nguoc:  53
Ti le xuat hien nhan nguoc 9.330985915492958
Tong so label:  46
So lan xuat hien nhan nguoc:  4
Ti le xuat hien nhan nguoc 8.695652173913043
Tong so label:  155
So lan xuat hien nhan nguoc:  16
Ti le xuat hien nhan nguoc 10.32258064516129

Tại thời điểm T, xét trong khoảng (T, T + $\Delta$):
- Nếu T đang là BUY (giá tại T + $\Delta$ cao hơn T), trong khoảng này xuất hiện điểm có giá nhỏ hơn T rất nhiều (đáy $\sqrt{}$)
        thì nhãn tại T sẽ được chuyển thành SELL.
- Và ngược lại

In [23]:
def dynamic_labeling(df, delta, threshold):
    df = df.copy()
    
    # Bước gán nhãn ban đầu
    df = simple_labeling(df, delta, threshold)
    
    # Tính sẵn min/max trong cửa sổ kế tiếp delta dòng => Cực trị
    # Dịch ngược DataFrame, tính rolling min/max, rồi dịch đúng thứ tự
    reversed_close = df['Close'].iloc[::-1]
    rolling_min = reversed_close.rolling(window=delta, min_periods=1).min().iloc[::-1].shift(1)
    rolling_max = reversed_close.rolling(window=delta, min_periods=1).max().iloc[::-1].shift(1)

    # Áp dụng min/max tương ứng từng hàng
    df['future_min'] = rolling_min
    df['future_max'] = rolling_max

    # Cập nhật nhãn theo giá cực trị
    df.loc[(df['Label'] == 'BUY') & (df['future_min'] < df['Close'] * (1 - threshold)), 'Label'] = 'SELL'
    df.loc[(df['Label'] == 'SELL') & (df['future_max'] > df['Close'] * (1 + threshold)), 'Label'] = 'BUY'

    label_distribution = df['Label'].value_counts(normalize=True)
    print("\nPhân bố nhãn sau cập nhật:")
    print(label_distribution)

    return df

In [24]:
dynamic_labeled_train_df = dynamic_labeling(train_df, delta, threshold)
# dynamic_labeled_train_df

Phân bố nhãn với threshold riêng:
Label
BUY     0.397887
SELL    0.360915
HOLD    0.241197
Name: proportion, dtype: float64

Phân bố nhãn sau cập nhật:
Label
BUY     0.517606
SELL    0.241197
HOLD    0.241197
Name: proportion, dtype: float64

In [25]:
dynamic_labeled_dev_df = dynamic_labeling(dev_df, delta, threshold)
# dynamic_labeled_dev_df

Phân bố nhãn với threshold riêng:
Label
SELL    0.413043
HOLD    0.304348
BUY     0.282609
Name: proportion, dtype: float64

Phân bố nhãn sau cập nhật:
Label
BUY     0.391304
SELL    0.304348
HOLD    0.304348
Name: proportion, dtype: float64

In [26]:
dynamic_labeled_test_df = dynamic_labeling(test_df, delta, threshold)
# dynamic_labeled_test_df

Phân bố nhãn với threshold riêng:
Label
BUY     0.496774
SELL    0.309677
HOLD    0.193548
Name: proportion, dtype: float64

Phân bố nhãn sau cập nhật:
Label
BUY     0.561290
SELL    0.245161
HOLD    0.193548
Name: proportion, dtype: float64

In [27]:

print("Tong so label: ", len(dynamic_labeled_train_df))
cnt = counter_label(dynamic_labeled_train_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(dynamic_labeled_train_df) * 100)


print("Tong so label: ", len(dynamic_labeled_dev_df))
cnt = counter_label(dynamic_labeled_dev_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(dynamic_labeled_dev_df) * 100)


print("Tong so label: ", len(dynamic_labeled_test_df))
cnt = counter_label(dynamic_labeled_test_df, delta)
print("So lan xuat hien nhan nguoc: ", cnt)
print("Ti le xuat hien nhan nguoc", cnt / len(dynamic_labeled_test_df) * 100)

Tong so label:  568
So lan xuat hien nhan nguoc:  57
Ti le xuat hien nhan nguoc 10.035211267605634
Tong so label:  46
So lan xuat hien nhan nguoc:  4
Ti le xuat hien nhan nguoc 8.695652173913043
Tong so label:  155
So lan xuat hien nhan nguoc:  16
Ti le xuat hien nhan nguoc 10.32258064516129

In [28]:
cols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Label']

dynamic_labeled_train_df[cols].to_csv(f'{save_dir}/dynamic_labeled_train.csv', index=False)
dynamic_labeled_dev_df[cols].to_csv(f'{save_dir}/dynamic_labeled_dev.csv', index=False)
dynamic_labeled_test_df[cols].to_csv(f'{save_dir}/dynamic_labeled_test.csv', index=False)